<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279257034602-jj7bdubtp2vvh92vjg0m7q0u5s989f1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279257034602-jj7bdubtp2vvh92vjg0m7q0u5s989f1r</string>
	<key>API_KEY</key>
	<string>AIzaSyCY7qhD0l7i4KDY7iCPWULXmlF_EUe-mgc</string>
	<key>GCM_SENDER_ID</key>
	<string>279257034602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AbideProject</string>
	<key>PROJECT_ID</key>
	<string>abide-fcaeb</string>
	<key>STORAGE_BUCKET</key>
	<string>abide-fcaeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279257034602:ios:46cf4fe1f212db471a7f13</string>
</dict>
</plist>